[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Path=/home/cltest/hwgui_icon
Exec=/home/cltest/hwgui_icon/start_helloworld.sh
Name=Helloworld  Terminal
Comment=Start Helloworld  Terminal
Icon=/home/cltest/hwgui_icon/helloworld_128x128.png
StartupWMClass=Helloworld
